<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>KryptIT</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <table class="table table-striped table-bordered" width="100%">
     
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>24h %</th>
                <th>7d %</th>
                <th>Market Cap</th>
                <th>Volume(24h)</th>
                <th>Circulating Supply</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bitcoin</td>
                <td>₹2,670,058.54</td>
                <td>1.79%</td>
                <td>2.09%</td>
                <td>₹50,102,885,076,088</td>
                <td>₹2,199,408,406,459</td>
                <td>18,728,718 BTC</td>
            </tr>
            <tr>
                <td>Ethereum</td>
                <td>₹206,868.98</td>
                <td>4.40%</td>
                <td>9.41%</td>
                <td>₹23,650,007,154,062</td>
                <td>₹1,931,238,440,155</td>
                <td>116,187,622 ETH</td>
            </tr>
            <tr>
                <td>Tether</td>
                <td>₹72.98</td>
                <td>0.09%</td>
                <td>1.37%</td>
                <td>₹4,540,785,686,027</td>
                <td>₹4,122,651,143,067</td>
                <td>62,246,255,385 USDT</td>
            </tr>
            <tr>
                <td>Binance Coin</td>
                <td>₹29,357.13</td>
                <td>3.23%</td>
                <td>15.20%</td>
                <td>₹4,532,042,017,833</td>
                <td>₹163,384,275,210</td>
                <td>153,432,897 BNB</td>
            </tr>
            <tr>
                <td>Cardano</td>
                <td>₹126.16</td>
                <td>2.78%</td>
                <td>3.66%</td>
                <td>₹4,042,230,017,479</td>
                <td>₹135,630,278,917</td>
                <td>31,948,309,441 ADA</td>
            </tr>
        </tbody>
    </table>
</head>
<body>
    <script>
        function CreateTableFromJSON() {
            var myBooks = [
                {
                    "Book ID": "1",
                    "Book Name": "Computer Architecture",
                    "Category": "Computers",
                    "Price": "125.60"
                },
                {
                    "Book ID": "2",
                    "Book Name": "Asp.Net 4 Blue Book",
                    "Category": "Programming",
                    "Price": "56.00"
                },
                {
                    "Book ID": "3",
                    "Book Name": "Popular Science",
                    "Category": "Science",
                    "Price": "210.40"
                }
            ]
            // EXTRACT VALUE FOR HTML HEADER. 
            // ('Book ID', 'Book Name', 'Category' and 'Price')
            var col = [];
            for (var i = 0; i < myBooks.length; i++) {
                for (var key in myBooks[i]) {
                    if (col.indexOf(key) === -1) {
                        col.push(key);
                    }
                }
            }
            // CREATE DYNAMIC TABLE.
            var table = document.createElement("table");
            // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.
            var tr = table.insertRow(-1);                   // TABLE ROW.
            for (var i = 0; i < col.length; i++) {
                var th = document.createElement("th");      // TABLE HEADER.
                th.innerHTML = col[i];
                tr.appendChild(th);
            }
            // ADD JSON DATA TO THE TABLE AS ROWS.
            for (var i = 0; i < myBooks.length; i++) {
                tr = table.insertRow(-1);
                for (var j = 0; j < col.length; j++) {
                    var tabCell = tr.insertCell(-1);
                    tabCell.innerHTML = myBooks[i][col[j]];
                }
            }
            // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
            var divContainer = document.getElementById("showData");
            divContainer.innerHTML = "";
            divContainer.appendChild(table);
        }
    </script>
</body>
